<section class="story">
{% if g.user.is_authenticated() %}
    <a href="{{ url_for('edit', post_id=post.id) }}" class="edit story-link"><i class="edit icon-edit icon-2x"></i></a>
{% endif %}
    <h1><a href="{{ url_for('post', post_id=post.id) }}" class="story-link">{{post.title|title()}}</a></h1>
    <div class="posted">
        <p><strong>Posted: </strong>{{ post.pub_date.strftime('%a, %d-%m-%Y %H:%M') }}</p>
    </div>
    <div class="story-text">
        <a href="{{ url_for('post', post_id=post.id) }}" class="story-link"><p>{{post.body|truncate(255)}}</p></a>
    </div>
    <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-primary btn-small pull-right">Read more</a>
    <div class="story-tags">
        <p><strong>Tags: </strong>
        {% if post.categories %}
        {% for tag in post.categories %}
            <a href="{{ url_for('by_category', tag=tag.name) }}" class="badge btn-info btn-small">{{ tag.name }}</a>
        {% endfor %}
        {% else %}
            no tags defined for that post
        {% endif %}
        <p>
    </div>
</section>